body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #25085e;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin-top: 50px;
}

.edit-box {
  width: 50%;
  height: 300px;
  background-color: #11042b;
  margin: auto;
  color: #e3e3e3;
  padding: 40px;
  font-size: 19px;
  font-family: 'Space Mono', monospace;
  border-style: none;
}

.css-input {
  height: 200px;
}